@import url('https://fonts.googleapis.com/css?family={usernameDisplayFont}');
#_display{
    font-family: '{{usernameDisplayFont}}', sans-serif;
    font-size: {{usernameDisplayFontSize}}px;
    color: {{usernameDisplayColor}};
    text-shadow: 1px 1px 1px {{backdropShadowColor}};
}
#_prefix{
    font-family: '{{usernameDisplayFont}}', sans-serif;
    font-size: {{usernameDisplayFontSize}}px;
    color: {{prefixDisplayColor}};
    text-shadow: 1px 1px 1px {{backdropShadowColor}};
}
#_suffix{
    font-family: '{{usernameDisplayFont}}', sans-serif;
    font-size: {{usernameDisplayFontSize}}px;
    color: {{suffixDisplayColor}};
    text-shadow: 1px 1px 1px {{backdropShadowColor}};
}
p { display: inline }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: {{iconSize}}px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: relative;
    top: {{iconVerticalPosition}}px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@keyframes fly-in-left {
    0%   {left:-100px;}
    100% {left: 0px;}
}

.animation {
    position: relative;
    animation-name: {{animation}};
    animation-duration: {{animationDuration}}s;
}
