@import url('https://fonts.googleapis.com/css?family={usernameDisplayFont}');
#_display{
    font-family: '{{usernameDisplayFont}}', sans-serif;
    font-size: {{usernameDisplayFontSize}}px;
    color: {{usernameDisplayColor}};
}
#_prefix{
    font-family: '{{usernameDisplayFont}}', sans-serif;
    font-size: {{usernameDisplayFontSize}}px;
    color: {{prefixDisplayColor}};
}
#_suffix{
    font-family: '{{usernameDisplayFont}}', sans-serif;
    font-size: {{usernameDisplayFontSize}}px;
    color: {{suffixDisplayColor}};
}
